<div class="row">
  <div class="col-sm-8">
    <h1><%= @artist.name %></h1>
    <h2>Albums (<%= @albums.count %>)</h2>
    <div class="row">
    <% @albums.each do |album| %>
      <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
        <div class="card bg-light ">
          <img src="<%= album.image_url %>" class="card-img-top img-fluid" alt="<%= album.name %>">
          <div class="card-body">
            <h5 class="card-title"><%= album.name %></h5>
            <h6><%= album.released_at %></h6>
          </div>
        </div>           
      </div>
    <% end %>
    </div>
  </div>
  <div class="col-sm-4 mt-3">
    <img src="<%= @artist.image_url %>" class="img-thumbnail">
  </div>
</div>